{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "semi": true,
  "importOrder": [
    "^react",
    "^react-native",
    "@amazon-devices/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
